// Importing variables
@import 'variables';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.hero {
	.hilight {
		background-color: $white;
		padding-left: 5px;
		padding-right: 5px;
		color: $primary-color;
		white-space: nowrap;
	}

  .state-dropdown {
    margin-top: -.2em;
    margin-left: 0.4em;
    margin-right: 0.4em;

    select {
      border-width: 2px;
      color: $primary-color;
    }
  }
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gantt-column.column {
	@include mobile {
		padding-left: 0;
		padding-right: 0;
	}
}

.gantt {
  table-layout: fixed;
  tr {
    padding-top: 10px;
  }
  th {
    width: 150px;
    @include mobile {
    	width: 85px;
    	font-size: 0.9em;
    	padding-left: 0;
    }
  }
  .bars {
  	padding: 0px;
  	table {
  		border-spacing: 5px;
  		border-collapse: separate;
  		@include desktop {
  			width: 100%;
  		}
  		@include mobile {
  			border-spacing: 4px;
  		}
  		table-layout: fixed;
  		* {
  			border: none;
  		}
  		th {
  			white-space: nowrap;
  			padding-left: 0;
  		}
  		.bar-spacer {
  			text-align: right;
  			vertical-align: middle;
  			font-weight: bold;
  		}
  		.bar {
  		  background-color: $primary-color;
  		  border-radius: 10px;
		  }
      .bar-content {
        width: 100%;
        color: $white;
        font-weight: bold;
        vertical-align: middle;
      }
  	}
	}
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}
